#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
.App{
  background-color: rgb(25, 25, 27);
  color:beige;
  padding: 3px;
  border-radius: 30px;
}

.App h1{
  text-decoration: underline;
}

.contenedor{
  background-color: rgb(160, 151, 151);
}

.contenedorTareas button, span{
  color: rgb(35, 35, 228);
}